@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --conteiner-lg: 1790px;
    --conteiner: 1230px ;
    --hover-color: #FBD784;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.body {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: #0B1D26;;
    background-image: url(../img/body-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
.conteiner {
    max-width: var(--conteiner);
    min-width: 991px;
    margin: 0 auto;
    padding: 0 15px;
}
.conteiner--lg {
    max-width: var(--conteiner-lg);
}
.title {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    color: #FFFFFF;
}
.pretitle {
    display: inline-flex;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.pretitle::before {
    content: '';
    display: inline-flex;
    background: #FBD784;
    width: 72px;
    height: 2px;
    margin-right: 32px;
}
.header {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        &-link {
            font-weight: 700;
            font-size: 18px;
            color: #FFFFFF;
            text-decoration: none;
            margin: 0 10px;
        }
        &-link:hover {
            color: var(--hover-color);
        }
    }
    &__account {
        display: inline-flex;
        font-weight: 700;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration: none;
        &-img {
            margin-right: 10px;
        }
    }
    &__account:hover {
        color: var(--hover-color);
    }
    &__account:hover path {
        fill: var(--hover-color);
    }
}
.prepared {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 111px;
    padding-bottom: 760px;
    &__wrap {
        width: 79%;
    }
    &__pretitle {
        margin-bottom: 33px;
    }
    &__title {
        text-transform: capitalize;
        margin-bottom: 31px;
    }
    &__link {
        display: inline-flex;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: #FFFFFF;
        &-img {
            margin-left: 16px;
        }
    }
    &__link:hover {
        color: var(--hover-color);
    }
    &__link:hover path {
        fill: var(--hover-color);
    }
}
.aside-menu {
    position: fixed;
    right: 80px;
    display: flex;
    flex-direction: column;
    text-align: right;
    &__link {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: #FFFFFF;
        padding: 20px 32px;
        border-right: 3px solid rgba(255, 255, 255, 0.5);
    }
    &__link:hover {
        color: var(--hover-color);
        border-right-color: #FFFFFF;
    }
}
.link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    text-decoration: none;
}
.link::after {
    content: url(../img/arrow-link.svg);
    display: inline-flex;
    margin-left: 16px;
    position: relative;
    bottom: -3px;
    right: 0px;
}
.link:hover::after {
    right: -5px;
}
.turist {
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
        &-wrap {
            position: relative;
            width: 48%;
        }
        &-wrap-img {
            width: 40%;
        }
        &-pretitle {
            margin-bottom: 30px;
        }
        &-title {
            font-weight: 700;
            font-size: 64px;
            line-height: 74px;
            margin-bottom: 30px;
        }
        &-text {
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        &-img {
            height: 720px;
            width: 100%;
            object-fit: cover;
        }
        &-opacity {
            position: absolute;
            top: -105px;
            left: -51px;
            font-weight: 700;
            font-size: 240px;
            line-height: 240px;
            color: #FFFFFF;
            opacity: 0.1;
        }
    }
    &__card:nth-child(odd) &__card-wrap {
        order: 1;
    }
}
.footer {
    padding-top: 90px;
    padding-bottom: 52px;
    &__first-bar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 36px;
        &-card {
            display: flex;
            flex-direction: column;
            width: 24%;
        }
        &-card-sm {
            width: 11%;
        }
        &-card-m {
            width: 17%;
        }
        &-logo {
            margin-bottom: 30px;
        }
        &-text {
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #FBD784;
            margin-bottom: 20px;
        }
        &-link {
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            text-decoration: none;
        }
        &-link:not(:last-child) {
            margin-bottom: 16px;
        }
        &-link:hover {
            color: var(--hover-color);
        }
    }
    &__copy {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        opacity: 0.5;
        text-decoration: none;
    }
    &__copy:hover {
        color: wheat;
    }
}