@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-black-webfont.woff2") format("woff2"), url("../fonts/gilroy-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-bold-webfont.woff2") format("woff2"), url("../fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium-webfont.woff2") format("woff2"), url("../fonts/gilroy-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --conteiner-lg: 1790px;
  --conteiner: 1230px ;
  --hover-color: #FBD784;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: #0B1D26;
  background-image: url(../img/body-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.conteiner {
  max-width: var(--conteiner);
  min-width: 991px;
  margin: 0 auto;
  padding: 0 15px;
}

.conteiner--lg {
  max-width: var(--conteiner-lg);
}

.title {
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 100px;
  color: #FFFFFF;
}

.pretitle {
  display: inline-flex;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.pretitle::before {
  content: "";
  display: inline-flex;
  background: #FBD784;
  width: 72px;
  height: 2px;
  margin-right: 32px;
}

.header {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 10px;
}
.header__menu-link:hover {
  color: var(--hover-color);
}
.header__account {
  display: inline-flex;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}
.header__account-img {
  margin-right: 10px;
}
.header__account:hover {
  color: var(--hover-color);
}
.header__account:hover path {
  fill: var(--hover-color);
}

.prepared {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 111px;
  padding-bottom: 760px;
}
.prepared__wrap {
  width: 79%;
}
.prepared__pretitle {
  margin-bottom: 33px;
}
.prepared__title {
  text-transform: capitalize;
  margin-bottom: 31px;
}
.prepared__link {
  display: inline-flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
}
.prepared__link-img {
  margin-left: 16px;
}
.prepared__link:hover {
  color: var(--hover-color);
}
.prepared__link:hover path {
  fill: var(--hover-color);
}

.aside-menu {
  position: fixed;
  right: 80px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.aside-menu__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 20px 32px;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
.aside-menu__link:hover {
  color: var(--hover-color);
  border-right-color: #FFFFFF;
}

.link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FBD784;
  text-decoration: none;
}

.link::after {
  content: url(../img/arrow-link.svg);
  display: inline-flex;
  margin-left: 16px;
  position: relative;
  bottom: -3px;
  right: 0px;
}

.link:hover::after {
  right: -5px;
}

.turist__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.turist__card-wrap {
  position: relative;
  width: 48%;
}
.turist__card-wrap-img {
  width: 40%;
}
.turist__card-pretitle {
  margin-bottom: 30px;
}
.turist__card-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 30px;
}
.turist__card-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.turist__card-img {
  height: 720px;
  width: 100%;
  object-fit: cover;
}
.turist__card-opacity {
  position: absolute;
  top: -105px;
  left: -51px;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #FFFFFF;
  opacity: 0.1;
}
.turist__card:nth-child(odd) .turist__card-wrap {
  order: 1;
}

.footer {
  padding-top: 90px;
  padding-bottom: 52px;
}
.footer__first-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}
.footer__first-bar-card {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.footer__first-bar-card-sm {
  width: 12%;
}
.footer__first-bar-card-m {
  width: 17%;
}
.footer__first-bar-logo {
  margin-bottom: 30px;
}
.footer__first-bar-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.footer__first-bar-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FBD784;
  margin-bottom: 20px;
}
.footer__first-bar-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__first-bar-link:not(:last-child) {
  margin-bottom: 16px;
}
.footer__first-bar-link:hover {
  color: var(--hover-color);
}
.footer__copy {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
}
.footer__copy:hover {
  color: wheat;
}